.pane-main {
  -fx-background-color: #f6f4e6;
}

.btn {
  -fx-background-color: #52575d;

  /* -fx-text-fill: #fddb3a; */
  -fx-text-fill: #f6f4e6;
  -fx-font-size: 16px;
}
.btn:hover {
  /* -fx-background-color: #52575d; */

  /* -fx-text-fill: #fddb3a; */
  -fx-text-fill: #79b5f1;
  -fx-font-size: 18px;

  /* -fx-font-weight: bold; */
}

.btncenter {
  -fx-background-color: #52575d;
  -fx-text-fill: #79b5f1;
  /* -fx-font-weight: bold; */
  -fx-background-radius: 50px;
}
.btncenter:hover {
  -fx-text-fill: #52575d;
  -fx-background-color: #79b5f1;
  /* -fx-transition: 0.5s; */
}

.pane-yellow {
  -fx-background-color: #52575d;
  /* -fx-background-color: #fddb3a; */
}

.back-transparent {
  -fx-background-color: transparent;
}

.fn-14 {
  -fx-font-size: 14px;
}
.fn-16 {
  -fx-font-size: 16px;
}
.fn-18 {
  -fx-font-size: 18px;
}
.fn-24 {
  -fx-font-size: 24px;
}
.fn-32 {
  -fx-font-size: 32px;
}
.fn-48 {
  -fx-font-size: 48px;
}
.fn-64 {
  -fx-font-size: 64px;
}
